@{
    ViewData["Title"] = "GuessingGame";
}

<h1>GuessingGame</h1>

@if (ViewBag.Message1 != null)
{
    <h2>@ViewBag.Message1</h2>
}

<form asp-controller="Game" asp-action="GuessingGame" method="post">
<label>Number: </label>
<input type="number" step=any name="guess" />
<input type="submit" value="Submit" />
</form>
