
@{
    ViewData["Title"] = "View";
}

@if (ViewBag.Message != null)
{
    <h1>@ViewBag.Message</h1>
}

@if (ViewBag.Info != null)
{
    <h1>@ViewBag.Info</h1>
}

<form asp-controller="Doctor" asp-action="FeverCheck" method="post">
<label>Temperature: </label>
<input type="number" step=any name="temp" />
<input type="submit" value="Submit" />
</form>

