
@{
    ViewData["Title"] = "FeverCheck";
}

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}

@if (ViewBag.Info != null)
{
    <h3>@ViewBag.Info</h3>
}

<form asp-controller="Doctor" asp-action="FeverCheck" method="post">
<label>Temperature: </label>
<input type="number" step=any name="temp" />
<input type="submit" value="Submit" />
</form>

